{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<h3 class="text-center" > Log In  </h3>
<form action="{% url 'login' %}" method="POST" style="width: 500px; margin: auto;">
    {%csrf_token%}
        {{ login_form | crispy }}
</br>
    <button type="submit" class="btn btn-outline-secondary">Log In</button>
    
</form>
<div class="container"></div>
<p> Don't  Have Account !</p>
<a href="{% url 'register' %}"><button type="submit" class="btn btn-outline-secondary">Create Account</button></a>

{% endblock %}