{% extends "home.html" %}

{% block body %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{single_post.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{single_post.created_at}} , by {{single_post.author}}</div>
                    <!-- Post category-->
                    <a class="badge bg-primary text-decoration-none text-light" href="">{{single_post.category}}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{single_post.featured_image.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{single_post.short_descriptions}}</p>
                    <p class="fs-5 mb-4">{{single_post.blog_body}}</p>
                
                <!-- Comment Section -->
                 <h2>Comment's ({{comment_count}})</h2>
                 {% if  comments %}
                 <div class="card mt-5">
                    {% for com in comments %}
                    <div class="card-body" >
                        <p class="card-text mb-0" >{{com.comment}}</p>
                        <span>
                            <small>From <b>{{ com.user }}</b></small>
                            <small > | {{ com.created_at | timesince  }} Ago</small>
                        </span>
                    </div>
                    {% endfor %}
                 </div>
                 {% else %}
                 There is No Comment Yet
                 {% endif %}
                <br>
                {% if user.is_authenticated %}
                <div class="form-group">
                    <form action="" method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea name="comment" class="form-control" placeholder="Write Your Comment Here"></textarea>
                            <input type="submit" value="submit" class="btn btn-primary mt-2">
                        </div>

                    </form>
                </div>
                {% else %}
                <div class="card">
                    <p>Please <a href="{% url 'login' %}">Login</a> For Comment in This</p>
                </div>
                {% endif %}

                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->

            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for cat in category_list %}
                                <li><a href="{% url 'post_by_category' cat.id %}">{{cat.category_name}}</a></li>

                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Side widget-->
             {% if  social_links %}
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                    {% for i in social_links %}
                    <li><a href="{{i.link}}" target="_blank">{{i.platform}}</a></li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}